/* index.php styles */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* for logo */
.logoContainer{ 
    margin-top: 40px;
    height: 150px;width: 100%;
    display: flex;           
    justify-content: center; 
    align-items: center;

}
#logoGreen{
    width: 400px;
    height: 300px;
}
/* for the user option divs */
.userContainer{ 
    height: 300px;width: 100%;
    display: flex;   
    gap:30px;        
    justify-content: center; 
    align-items: center;

}
form {
    display: flex;           
    flex-direction: column; 
    align-items: center;     
}
form img.buttonImage {
    display: block;
    width: 150px;             
    height: auto;            
    margin-bottom: 10px;
    margin-bottom: 20px;   
}
.userBox{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}
/* buttons */
form img.buttonUser {
    display: block;
}
.buttonUser {
    width: 130px;
    padding: 10px 20px;      
    font-size: 16px;    
    border: solid 1px #009E60;
    border-radius: 6px;
    background-color: white;
}
.buttonUser:hover{
    cursor: pointer; 
    background-color:rgb(196, 196, 196);
    font-weight: bold;
}

/* Lender UI designs */

/* logo */
.logoBox{
    width: 100%;height: 60px;
    background-color: #009E60;
    display: flex;        
    justify-content: left; 
    align-items: center;
}
.logoImg{
    width: 150px;height: 100px;
    margin-left: 10px;
}
.logoBox h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* account balance */
.balanceBox{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.accountBalance{
    color: #009E60;
}
/* interest rate */
.interestBox{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
}
.interestValue{
    color: #D2042D;
}

/* Lender processes */
.lenderProcessBox{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;    
    gap: 20px;
}
.lenderProcessBox div h4{
    text-align: center;
}
.lenderProcessBox div{
    height: 200px;
    width: 430px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}
/* Overall container styles */

/* Styling for input fields */
input[type="number"] {
    width: 85%;                
    padding: 10px;            
    margin-bottom: 10px;        
    border: 1px solid #ccc;   
    border-radius: 4px;        
    font-size: 16px;           
}

/* Styling for submit buttons */
input[type="submit"] {
    width: 88.5%;               
    padding: 10px;           
    background-color: #009E60;  
    color: white;              
    border: none;             
    border-radius: 4px;       
    font-size: 16px;          
    cursor: pointer;           
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #007a47; 
}


/* exit btn */
.exitBox{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.exitBox .exitButton{
    background-color: #D2042D;
    width: 80px;
}
.exitBox .exitButton:hover{
    background-color: #b30326;
}
/* loan amount red color */
.accountLoan{
    color: #b30326;
}

/* debtor process, loan and pay */
.debtorProcessBox{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 250px;    
    gap: 20px;
}
.debtorProcessBox div{
    height: 200px;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}
.interest{
    color: #b30326;
}